<%= turbo_frame_tag "modal" do %>
  <main class="bg-blue-100 p-6 mb-2">
    <h4 class="flex justify-between text-sm">
      <span class="flex items-center gap-2">
        <svg class="size-3" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 412 511.56">
          <path fill-rule="nonzero" d="M32.24 0h229.59a9.06 9.06 0 016.77 3.04l140.63 136.27a8.971 8.971 0 012.74 6.48h.03V479.32c0 8.83-3.63 16.88-9.47 22.74l-.05.05c-5.86 5.83-13.9 9.45-22.72 9.45H32.24c-8.87 0-16.94-3.63-22.78-9.47C3.63 496.26 0 488.19 0 479.32V32.24C0 23.37 3.63 15.3 9.46 9.46 15.3 3.63 23.37 0 32.24 0zm56.24 414.35c-5.01 0-9.08-4.06-9.08-9.07 0-5.01 4.07-9.08 9.08-9.08h235.04c5.01 0 9.07 4.07 9.07 9.08s-4.06 9.07-9.07 9.07H88.48zm0-74.22c-5.01 0-9.08-4.06-9.08-9.07 0-5.01 4.07-9.08 9.08-9.08h231.38c5.01 0 9.08 4.07 9.08 9.08s-4.07 9.07-9.08 9.07H88.48zm0-74.22c-5.01 0-9.08-4.07-9.08-9.08s4.07-9.07 9.08-9.07H275.7c5.01 0 9.08 4.06 9.08 9.07 0 5.01-4.07 9.08-9.08 9.08H88.48zm0-74.23c-5.01 0-9.08-4.06-9.08-9.07 0-5.01 4.07-9.08 9.08-9.08h114.45c5.01 0 9.07 4.07 9.07 9.08s-4.06 9.07-9.07 9.07H88.48zm176.37-92.85v114.4h118.07L264.85 24.61zm129 132.55H255.78c-5.01 0-9.08-4.07-9.08-9.08V18.15H32.24c-3.86 0-7.39 1.59-9.95 4.15-2.55 2.55-4.14 6.08-4.14 9.94v447.08c0 3.86 1.59 7.39 4.14 9.94 2.56 2.56 6.09 4.15 9.95 4.15h347.52c3.89 0 7.41-1.58 9.94-4.11l.04-.04c2.53-2.53 4.11-6.05 4.11-9.94V157.16z"/>
        </svg>
        <p class="font-bold">Report Form</p>
      </span>
      <%= link_to 'Close', reports_path, class: "text-white bg-blue-600 px-2 py-1 rounded text-sm hover:text-indigo-800" %>
    </h4>

    <%= form_with(model: @report, local: true, html: { id: 'report-form' }) do |form| %>
      <% if @report.errors.any? %>
        <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
          <h2 class="font-bold"><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
          <ul class="list-disc pl-5 mt-2">
            <% @report.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <p class="mt-1 text-sm leading-6 text-gray-600">Please provide the details of the report.</p>
        <div class="flex flex-col gap-2">
          <div class="hidden sm:col-span-4">
            <%= form.label :name, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :pogo_hub_name, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :pogo_hub_name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :address, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :address, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :nearby_landmarks, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :nearby_landmarks, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :activities, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :activities, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :individuals, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :individuals, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :vehicles, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :vehicles, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :summary, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_area :summary, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <%= form.submit 'Submit Report', id: 'submit-button', class: "rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
      </div>
    <% end %>
  </main>
<% end %>
